# Основные библиотеки для работы с видео
opencv-contrib-python==4.9.0.80

# Для работы с видеопотоками и камерами
imutils==0.5.4

# Для обработки и анализа видео
numpy==1.24.4
scipy==1.10.1

# Для HTTP-запросов к Robotino
requests==2.31.0

# Для сохранения и конвертации видео
imageio==2.31.6
imageio-ffmpeg==0.4.9
moviepy==1.0.3